*{
    margin: 0px;
}
#botoes{
    display: flex;
    flex-direction: row;
}
table, tr, td{
    border-collapse: collapse;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
table{
    min-width: 70vw;
}
.login{
    background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-jplenio-1103970.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;

}
#login{
    display: grid;
    background-color: white;
    min-height: 40vh;
    min-width: 50vw;
    border-radius: 10px;
    margin: 10px;
    grid-template-areas: 
        ".    .    .     .        .     ." 
        ".    TXT1 Login Login    .     ."
        ".    TXT2 Senha Senha    .     ."
        ".    .    .     .        botao ."
    ;
}
#logininput{
    max-height: 30px;
}
#loginButton{
    max-height: 30px;
}
#CadastrarButton{
    margin-top: 10px;
    max-height: 30px;
}
#Cancelar{
    margin-top: 10px;
    min-height: 30px;
    justify-content: center;
    min-width: 100%;
}
#exluir{
    display: inline-block;
    margin-top: 10px;
    min-height: 30px;
    min-width: 100%;
    align-self: flex-end;
}
#exluiri{
    display: none;
}
#TXTLogin{
    margin: 6px
}
#lista{
    display: grid;
    background-color: rgb(241, 239, 239);
    min-height: 100vh;
    min-width: 100vw;
    grid-template-areas:  
        "pesq pesq pesq pesq pesq pesq pesq pesq"
        ".    list list list list list list .   "
        ".    list list list list list list .   "
        ".    list list list list list list .   "
        ".    list list list list list list .   "
        ".    list list list list list list .   "
        ".    list list list list list list .   "
        ".    logout .  .    .    .    boto .   "
    ;
}
#cadastrar{
    display: grid;
    background-color: rgb(241, 239, 239);
    min-height: 100vh;
    min-width: 100vw;
    grid-template-areas:  
        "pesq pesq pesq pesq pesq pesq pesq pesq"
        ".    list list list list list list .   "
        ".    list list list list list list .   "
        ".    list list list list list list .   "
        ".    list list list list list list .   "
        ".    list list list list list list .   "
        ".    list list list list list list .   "
        ".    Canc .    .    .    .    boto .   "
    ;
}
#editar{
    display: grid;
    background-color: rgb(241, 239, 239);
    min-height: 100vh;
    min-width: 100vw;
    grid-template-areas:  
        "pesq pesq pesq pesq pesq pesq pesq pesq"
        ". .    .    .    .    .    excluir ."
        ". list list list list list list .   "
        ". list list list list list list .   "
        ". list list list list list list .   "
        ". list list list list list list .   "
        ". list list list list list list .   "
        ". list list list list list list .   "
        ". list list list list list list .   "
        ". list list list list list list .   "
        ". .    .    .    .    .    .    ."
    ;
}
#list{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 20px;  
}
#header{
    background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-jplenio-1103970.jpg&fm=jpg");
    background-size: 110%;
    display: grid;
    margin-bottom: 20px;
    grid-template-areas: 
        ".    .    .    .    .    .    .     .   " 
        ".    bar  bar  bar  bar  bar  botao .   "
        ".    .    .    .    .    .    .     .   " 
    ;   
}
#back{
    background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-jplenio-1103970.jpg&fm=jpg");
    background-size: 110%;
    display: grid;
    margin-bottom: 20px;
    grid-template-areas: 
        ".    .    .    .    .    .    .     .   ." 
        ".    .    .    .    .    .    .     .   ."
        ".    back .    .    .    .    .     .   ." 
    ;   
}
#pesqui{
    margin-left: 20px;
}
#backb{
    margin-bottom: 10px;
}
#cadastrarU{
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
    ". . . ."
    "Nome NomeF . ."
    "Data DataF . ."
    "Email EmailF . ."
    "Tele TeleF . ."
    ". . . ."
    "botoes botoes botoes botoes"
    ;
}
#txtC{
    margin-left: 30px;
}